# Core de MLOps y Datos
pandas
pycaret
mlflow==2.10.0

# API de Reddit
praw
python-dotenv

# NLP y Modelos
transformers
torch
torchvision
torchaudio
sentencepiece
gensim
nltk

# Visualización y App
gradio
plotly
wordcloud
matplotlib